nav.main-navigation
	ul.catalog-menu
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Виртуальная реальность"
			)
				| Виртуальная реальность
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Моноподы для селфи"
			)
				| Моноподы для селфи
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу:  Экшн-камеры"
			)
				| Экшн-камеры
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Фитнеc-браслеты"
			)
				| Фитнеc-браслеты
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Умные часы"
			)
				| Умные часы
		li.catalog-menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Квадрокоптеры"
			)
				| Квадрокоптеры
	ul.menu
		li.menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Доставка"
			)
				| Доставка
		li.menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Гарантия"
			)
				| Гарантия
		li.menu__item
			a.catalog-menu__link(
			href="#"
			title="Перейти на страницу: Контакты"
			)
				| Контакты
